@import "variables";

@mixin color($default) {
  &-default {
    color: $default;
  }

  &-primary {
    color: $primary;
  }

  &-success {
    color: $success;
  }
  // etc
}

.btn {
  @include color(black);
}

@mixin background($default) {
  &-default {
    color: $default;
  }

  &-primary {
    color: $primary;
  }

  &-success {
    color: $success;
  }
}

@mixin variations($extra, $property) {
  &-default#{$extra} {
    &:extend(.#{$property}-default);
  }

  &-primary#{$extra} {
    &:extend(.#{$property}-primary);
  }
// etc
}

.label {
  @include variations("", btn, #FFF);
}
